{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
{% endblock %}

        <!-- content block -->
{% block content %}
<div class="container">
    <form>
        <input type="text" name="source_query" placeholder="Search for a News source" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

</div>
<!-- top headlines section -->
<h3> Top Headlines </h3>
<ul>
    {{macro.displaySourceList(topheadlines_sources) }}
</ul>
<!-- business section -->
<h3> Business </h3>
<ul>
    {{macro.displaySourceList(business_sources)}} 
</ul>

<!-- entertainment -->
<h3> Entertainment </h3>
<ul>
    {{macro.displaySourceList(entertainment_sources)}}
</ul>
{% endblock %}