{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <div class = "col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card">
            <img src="{{ source.urlToImage }}" alt="{{ source.name }} urlToImage" class="img-responsive">
            <li class = "text-center">
                <a href = "{{source.url}}">{{source.name}}</a>

            </li>
        </div>
    {% endfor %}
{% endmacro %}

{% macro displayComments(comment_list) %}
    {% for comment in comment_list %}<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 comment-card">
    <h2> {{ comment.name}} </h2>
    <p> {{ comment.comment | truncate(30) }}</p>
    </div>
    {% endfor %} 
{% endmacro %}