{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 urlToImagePath" style="background: url({{source.urlToImage}}) no-repeat center center">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 source-details">
        <h3>{{ source.name }}</h3>

        <p class = "content">{{source.url}}</p>

        <p class = "publishedAt">{{publishedAt}}</p>
        <a class = "comments" href="/source/comment/new/{{source.id}}"> Write a new comment</a>
    </div>
    </div>
    <div class="row">
        <h1>Comments</h1>
        <hr>
        {% if reviews %}
            {{macro.displayComments(comments)}}
        {% else%}
            <h3 class = "text-center">This source has no comments</h3>
            <a class = "btn btn-success btn-lg text-center" href="/source/comment/new/{{comment.id}}">Write a new comment</a>
        {% endif %}
    </div>
</div>
{% endblock %}